@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --dark-colour--: #2E333A;
    --blue-grey--: #B2C2CB;
    --secondary-blue--: #0ED2F6;
    --secondary-blue-light--: #72E4F9;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: var(--dark-colour--);
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    overflow-x: hidden;

}



/* navbar section css */

.nav-wraper {
    height: auto;
    width: 100%;
    background-color: var(--dark-colour--);
    z-index: 1000;

}

.nav {
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;

}

.logo {
    width: 200px;
    height: 60.81px;
    background: cover no-repeat;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow-x: visible !important;
}

.nav ul li a {
    color: var(--blue-grey--);

}

.nav .sign-in {
    margin-right: 28px;
    padding: 8px 14px;
    border-radius: 10px;
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px #000, -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px #3B4451;
}

.nav .newtm-btn {
    padding: 10px 12px;
    border-radius: 12px;
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px #000, -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px #3B4451;
}

.nav svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* navbar section css */

/* hero section css */

.hero {
    display: inline-flex;
    width: 570px;
    margin-top: 40px;
    margin-left: 146px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border: 0px solid;
    border-radius: 25px;
    background: var(--dark-colour--);
    box-shadow: -7px -7px 30px 0px #262E32, 14px 14px 40px 0px rgba(16, 16, 18, 0.75);
}

.hero-sec {
    overflow-x: visible !important;
    margin: 40px;
}

.hero-head {
    color: #fff;
    font-family: 'Poppins';
    font-size: 35px;
    font-style: normal;
    font-weight: 500;

}

.hero-pass {
    width: 365px;
    color: var(--blue-grey, #B2C2CB);
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.hero-btn {
    margin-top: 40px;
    display: inline-flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #0ED2F6;
    background: var(--dark-colour--);
    color: var(--secondary-blue--);
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px #000, -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px #3B4451;
}

.profiles-container {
    display: flex;
    margin-top: 40px;
    gap: 10px;

}

.profiles-container img {
    width: 36.364px;
    height: 36.418px;
    flex-shrink: 0;
    border-radius: 36.418px;
    background: lightgray 50% / cover no-repeat;
    backdrop-filter: blur(10px);
}

.profile-img-2 {
    position: absolute;
    left: 205px;
}

.profile-img-3 {
    position: absolute;
    left: 225px;
}

/* gradient css */
.gradient {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 60%, rgba(14, 14, 14, 0.00) 100%);
    height: 600px;
    width: 100%;
    top: 535px;
    z-index: 13;
}
/* gradient css */

/* background images */


.bg-1 {
    position: absolute;
    left: 814px;
    right: -3px;
    top: 249px;


}

.bg-2 {
    position: absolute;
    background-color: transparent;
    right: 104px;
    top: 624px;

}

.bg-3 {
    position: absolute;
    background-color: transparent;
    right: -408px;
    top: 572px;

}

.hero-pass-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}


.hero-2 {
    display: flex;
    align-items: flex-start;
    padding: 80px 20px;
    flex-direction: column;


}

.hero-wrapper {
    display: flex;
    margin: 0px 250px;
    justify-content: center;
    gap: 60px;
    position: relative;
    background: none;

}


.hero-sec-1,
.card,
.hero-title,
.head,
svg,
.hero-2-pass {
    background: none;
    z-index: 17;

}

.card-1 {
    width: 273px;
}

.card-2 {
    width: 260px;
}

.card-3 {
    width: 254px;
}

.card .head {
    background: none;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.hero-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.hero-2-pass {
    color: var(--blue-grey--);
    padding: 10px;
    gap: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    width: 250px;
}

/* hero section css */

/* form section css */

.add-acc-section {
    background-color: var(--dark-colour--) !important;
    width: 100%;
    position: relative;
    margin-top: 26px;
}

.add-new-acc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    margin-top: 60px;
}

form {
    height: 770px;
    overflow-x: visible !important;
}

.form-wrapper {
    overflow-x: visible !important;
    height: 1000px;
    margin-top: 26px;
    padding: 50px 35px;
    border-radius: 25px;
    box-shadow: -7px -7px 30px 0px #262E32, 14px 14px 40px 0px rgba(16, 16, 18, 0.75);
    z-index: 18;
}

.form-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-blue--);
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-div .label {
    color: var(--secondary-blue-light--);
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-left: 20px;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.form-div {
    margin-top: 35px;
    width: 390px;

}

.role {
    outline: none;
    border: 0;
    display: flex;
    width: 350px;
    padding: 12px 20px;
    align-items: center;
    justify-content: center;
    height: 47px;
    margin-top: 8px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: var(--dark-colour, #2E333A);
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px #000, -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px #3B4451;
}

.form-div input {
    margin-left: 20px;
    margin-bottom: 20px;
    outline: none;
    border: 0;
    display: flex;
    width: 350px;
    height: 47px;
    padding: 12px 20px;
    align-items: center;
    margin-top: 8px;
    border-radius: 10px;
    background: var(--dark-colour--);
    box-shadow: 3.7338130474090576px 3.7338130474090576px 6.223021507263184px 0px #000 inset, -6.223021507263184px -6.223021507263184px 6.223021507263184px 0px #3B4451 inset;
}

.eye {
    position: absolute;
    color: var(--secondary-blue--);
    bottom: 567px;
    left: 620px;
}

.eye-2 {
    position: absolute;
    color: var(--secondary-blue--);
    bottom: 567px;
    right: 330px;
}

.summary {
    margin-top: 35px;
    margin-left: 25px;
}

.summary .label {
    color: var(--secondary-blue-light--);
    font-size: 23px;
    font-style: normal;
    font-weight: 500;

}

.summary input {
    display: flex;
    margin-top: 8px;
    margin-bottom: 16px;
    height: 200px;
    border: 0;
    padding: 15px 20px;
    align-items: flex-start;
    gap: 8px;
    width: 735px;
    border-radius: 10px;
    background: var(--dark-colour--);
    box-shadow: 3.7338130474090576px 3.7338130474090576px 6.223021507263184px 0px #000 inset, -6.223021507263184px -6.223021507263184px 6.223021507263184px 0px #3B4451 inset;
}

.form-link-1 {
    color: var(--secondary-blue--);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: underline;
    margin-left: 20px;
}

.link-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    overflow-x: visible !important;
}
.form-link-2 {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    width: 295px;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    padding: 8px 14px;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #0ED2F6;
    background: var(--dark-colour--);
    color: var(--secondary-blue--);
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px #000, -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px #3B4451;
}

.form-wrapper input:focus {
    border: 1px solid var(--secondary-blue--);

}

.form-wrapper input {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: var(--blue-grey--);
}

.form-wrapper select {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: var(--blue-grey--);
    appearance: none;
}

.select-arrow{
    position: absolute;
    top:428px;
    right: 337px;
}
/* form section css */